{% extends 'base.html.twig' %}

{% block title %}Lorem Website{% endblock %}

{% block body %}


    <section class="top-catagory-area mt-3">
        <div class="container">
            <div class="row">
                <!-- Top Catagory Area -->
                {% for recipe in recipes %}
                    {% include "elements/_cards.html.twig" %}
                {% endfor %}
            </div>
        </div>
    </section>

    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item {% if page == 1 %}disabled{% endif %}">
                    <a class="page-link" href="{{path('home_index', {page : page - 1})}}"><i class="fas fa-angle-double-left"></i></a>
                </li>
                {% for i in 1..pages %}
                    <li class="page-item {% if page == i %}active{% endif %}">
                        <a class="page-link" href="{{path('home_index', {page : i})}}">{{i}}</a>
                    </li>
                {% endfor %}
                <li class="page-item {% if page == pages %}disabled{% endif %}">
                    <a class="page-link" href="{{path('home_index', {page : page + 1})}}"><i class="fas fa-angle-double-right"></i></a>
                </li>
            </ul>
        </nav>
    </div>

    {{ encore_entry_script_tags('custom-scrollreveal') }}
{% endblock %}

