{{ form_start(form) }}
    <div class="container mt-3">
        <fieldset class="form-border">
            <legend class="form-border font-dancing color-sombre">Informations générales</legend>
                <div class="control-group">
                    <div class="form-group">
                        {{form_label(form.name)}}
                        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-row">
                        <div class="col">
                            {{form_label(form.part)}}
                            {{ form_widget(form.part, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="col">
                            {{form_label(form.category)}}
                            {{ form_widget(form.category, { 'attr': {'class': 'form-control select-1'} }) }}
                        </div>
                    </div>
                    <div class="form-row mt-2">
                        <div class="col">
                            {{ form_label(form.preparationTime)}}
                            <br>
                            {{ form_widget(form.preparationTime) }}
                        </div>
                        <div class="col">
                            {{ form_label(form.cookingTime)}}
                            <br>
                            {{ form_widget(form.cookingTime) }}
                        </div>
                        <div class="col">
                            {{ form_label(form.restTime)}}
                            <br>
                            {{ form_widget(form.restTime) }}
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="container">
        <fieldset class="form-border">
            <legend class="form-border font-dancing color-sombre">Les ingrédients</legend>
            <div class="control-group">
                <div class="controls bootstrap-timepicker">
                    <div class="form-group">
                        {{ form_widget(form.ingredients) }}
                    </div>
                </div>
            </div>
        </fieldset>
    </div>




    <div class="container">
        <fieldset class="form-border">
            <legend class="form-border font-dancing color-sombre">La préparation</legend>
            <div class="control-group">
                <div class="controls bootstrap-timepicker">
                    <div class="form-group">
                        {{ form_widget(form.steps) }}
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="container">
        <fieldset class="form-border">
            <legend class="form-border font-dancing color-sombre">La photo</legend>
            <div class="control-group">
                <div class="controls bootstrap-timepicker">
                    <div class="form-group">
                        {{ form_widget(form.imageFile) }}
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="container text-center">
        <button class="btn delicious-btn col-6">{{ button_label|default('Enregistrer') }}</button>
    </div>
    


{{ form_end(form) }}
