{% extends 'base.html.twig' %}

{% block title %}Recipe{% endblock %}

{% block body %}
<div class="container py-5">
    <img class="img-fluid main-img" src="/images/cover/{{recipe.imageName}}" alt="{{recipe.name}}">
    <h1 class="text-center font-dancing display-3 my-5">{{recipe.name}}</h1>



    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <fieldset class="xx">
                <legend class="yy font-dancing">
                    <h3>Infos</h3>
                </legend>
                <div class="row">
                    <div class="col text-center">
                        <i class="fas fa-mortar-pestle"></i>
                        Préparation <br>
                        {{ recipe.preparationTime ? recipe.preparationTime|date('H:i') : '' }}
                    </div>

                    {% if recipe.cookingTime %}
                    <div class="col text-center">
                        <i class="fas fa-fire-alt"></i>
                        Cuisson <br>
                        {{ recipe.cookingTime ? recipe.cookingTime|date('H:i') : '' }}
                    </div>
                    {% endif %}

                    {% if recipe.restTime %}
                    <div class="col text-center">
                        <i class="far fa-clock"></i>
                        Repos <br>
                        {{ recipe.restTime ? recipe.restTime|date('H:i') : '' }}
                    </div>
                    {% endif %}

                    <div class="col text-center">
                        <i class="fas fa-utensils"></i>
                        Portions <br>
                        {{recipe.part}}
                    </div>

                    <div class="col text-center">
                        <i class="far fa-user"></i>
                        Auteur <br>
                        {{recipe.author.pseudo}}
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-lg-3">
            <fieldset class="xx">
                <legend class="yy font-dancing">
                    <h3>Ingrédients</h3>
                </legend>
                {% for ingredient in recipe.ingredients %}
                <p>{{ingredient.quantity}} {% if ingredient.unit %} {{ingredient.unit}} de{% endif %}
                    {{ingredient.name}}</p>
                {% endfor %}
            </fieldset>
        </div>
        <div class="col-12 col-lg-7">
            <fieldset class="xx">
                <legend class="yy font-dancing">
                    <h3>Préparation</h3>
                </legend>
                {% for step in recipe.steps %}
                <div class="col-12">
                    <input type="checkbox" id="cb{{loop.index}}" class="tgl tgl-flip">
                    <label for="cb{{loop.index}}" class="tgl-btn" data-tg-off="# {{loop.index}}" data-tg-on="✓"></label>
                    <p class="instruction-text">{{step.instruction}}</p>
                </div>
                {% endfor %}
            </fieldset>
        </div>
    </div>

    <div class="text-center my-5">
        <div class="row">
            {% if app.user and app.user == recipe.author %}
                <div class="col">
                    <a href="{{path("recipe_edit", {slug: recipe.slug})}}" class="ml-1 btn delicious-btn btn-4">Modifier</a>
                </div>
            {% endif %}
        </div>
    </div>

</div><!--container-->
{% endblock %}
